---
import Git from '../components/icons/git-hub.astro' ;
import Instagram from '../components/icons/instagram.astro' ;
import Linkedin from '../components/icons/linkedin.astro' ;
import Gmail from '../components/icons/gmail.astro' ;

---

<main id="about" class="h-auto w-full flex justify-center items-center flex-col md:p-20 snap-center bg-slate-950">
    <div id="background" class="flex flex-col items-center md:flex-row p-2">
            <div class="p-6 rounded-full">
                    <img src="/public/fotoabout.avif" alt="" class=" rounded-xl border-2 border-white w-52 h-52 object-cover ">
            </div>
        <div class="flex flex-col gap-9 p-6 bg-slate-900 rounded-xl border-2 border-white">
            <div class="flex items-center flex-col gap-4 ">
                <h2  class="text-white font-mono font-black text-3xl underline">
                    About me
                </h2>
                <p class="text-white font-black max-w-[40ch] text-wrap font-sans">Como desarrollador de software principiante,este es mi primer proyecto chico.
                    Este proyecto se hizo con conocimientos basicos.<br>
                    <span class="text-2xl">!Espero que les guste¡</span>
                
            </div>
            <section class="flex w-full justify-around flex-row flex-wrap">
                <div id="Cm0" class="w-8 h-8 border-2 border-white rounded-full flex items-center justify-center"><Git/></div>
                <div id="Cm0" class="w-8 h-8 border-2 border-white rounded-full flex items-center justify-center"><Linkedin/></div>
                <div id="Cm0" class="w-8 h-8 border-2 border-white rounded-full flex items-center justify-center"><Instagram/></div>
                <div id="Cm0" class="w-8 h-8 border-2 border-white rounded-full flex items-center justify-center"><Gmail/></div>
            </section>
        </div>

    </div>
        

   
</main>


<style>
    #Cm0:hover{
        transition: all 500ms;
        background: #0789f3e0;
    }
</style>
