---
import Vacio from './vacio/vacio.astro'
import Skills from '../components/skills.astro';
---

<main id="Projects" class="h-auto w-full bg-slate-950">
    <h3 class="text-center text-white text-3xl p-8 underline">Proyectos</h3> 
</main>
<style>
    section{
        grid-template-rows:repeat(6, minmax(200px, 1fr));
        grid-template-columns:repeat(10, minmax(0,1fr));
    }
    button:hover > a{
        opacity: 1;
        transition: 300ms all;
    }
    button{
        transition: 300ms all;
    }
    a{
        transition: 300ms all;
    }
    #scale:hover{
        scale: 1.3;
        transition: 600ms scale;
    }
    #scale{
        transition: 300ms all;
    }
    @media (max-width: 768px){
    section{
        grid-template-rows:repeat(13, minmax(200px, 1fr));
        grid-template-columns:repeat(10, minmax(0,1fr));}
    }
</style>
