---

---
<h4 class="p- block text-5xl opacity-90 text-center">Proyecto a futuro</h4>
<div class="w-2/3 h-2/4 flex items-center justify-center bg-slate-900 ">
    <p class="text-3xl opacity-70">(*VACIO*)</p>
</div>


<style>
    div{
        outline: 10px dashed #f0f0f0;
        
    }
</style>